<?php
/**
 * Functions and definitions, this file must be parseable by PHP 5.2.
 *
 * @package <%= packageName %><% if(author.full !== '') { %>
 * @author  "<%= author.full %>"<% } %>
 * @license <%= license.type %> <%= license.url %>
 * @link    <% if(projectType === 'theme') { %>https://developer.wordpress.org/themes/basics/theme-functions/<% } else { %>https://developer.wordpress.org/plugins/plugin-basics/<% } %>
 * @since   <%= version %>
 */

// Define '<%= projectType %> wide control variables.
define( 'MIN_PHP_VERSION', '<%= minPhpVersion %>' );
define( 'MIN_WP_VERSION', '<%= minWpVersion %>' );

// Define <%= projectType %> wide paths.
define( 'ROOT_URL', <% if(projectType === 'theme') { %>get_template_directory_uri()<% } else { %>plugin_dir_url( __FILE__ )<% } %> );
define( 'ROOT_URI', <% if(projectType === 'theme') { %>get_template_directory()<% } else { %>dirname( __FILE__ )<% } %> );<% if(projectType === 'theme') { %>

// Disable theme editor in admin.
define( 'DISALLOW_FILE_EDIT', true );<% } %>

if ( function_exists( '<%= projectType %>_error' ) === false ) {
	/**
	 * Helper function for prettying up errors.
	 *
	 * @param string $message The error message body.
	 * @param string $heading The error message heading.
	 * @param string $title The page title.
	 * @param array  $options Optional arguments array.
	 */
	function <%= projectType %>_error( $message, $heading = '', $title = '', $options = array() ) {
		$title   = $title ?: __( '<%= projectType %> error', '<%= textDomain %>' );
		$heading = ( $heading ) ? $heading : $title;
		$message = "<h1>{$heading}</h1><br><br>{$message}";
		wp_die( $message, $title, $options );
	};
}<% if(projectType === 'theme') { %>

// Theme compatibility check, bail early if requirements are not met.
if ( version_compare( MIN_PHP_VERSION, phpversion(), '>=' ) === true || version_compare( MIN_WP_VERSION, get_bloginfo( 'version' ), '>=' ) === true ) {
	require ROOT_URI . '/inc/back-compat.php';
	return;
}
<% } %>
// Setup autoloader.
require ROOT_URI . '/inc/project-autoloader.php';
