<?php
/**
 * The template for displaying 404 pages (not found).
 *
 * @package <%= packageName %> <% if(author.full !== '') { %>
 * @author  "<%= author.full %>"<% } %>
 * @license <%= license.type %> <%= license.url %>
 * @link    https://codex.wordpress.org/Creating_an_Error_404_Page
 * @since   <%= version %>
 */

namespace <%= namespace %>;

get_header(); ?>

<section id="post-404">
	<h1><?= __('Page not found', '<%= textDomain %>'); ?></h1>
	<p>
		<a href="<?= home_url(); ?>"><?= __('Return home?', '<%= textDomain %>'); ?></a>
	</p>
</section>

<?php get_footer();
